extend  layouts/main.pug
block content
    br
    section.card
        div.card-body 
            h1 about
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore unde totam iste repudiandae culpa nulla autem, voluptatem, quasi adipisci dolore debitis magni velit praesentium nihil laboriosam minus suscipit explicabo fuga! 